.banner-img{
    background-color: orange;
    text-align: center;
    border-radius: 20px;
    padding:20px;
    margin:20px;
}

.food-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background-color: black;
}


.food-container {
    border: 1px solid black;
    margin:50px;
    padding:20px;
    background-color: aliceblue;
    text-align: center;
}

.search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: aquamarine; */
    padding:20px;
    grid-gap: 20px;;
    justify-content: space-around;
}